<md-card *ngIf="attraction" class="attraction-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{attraction.name}}</md-card-title>
    <md-card-subtitle>{{attraction.location}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/attractions/{{getAttractionImageName()}}.jpg">
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <!--<button md-raised-button	><md-icon>favorite</md-icon></button>-->
    <!--<button md-raised-button	><md-icon>place</md-icon></button>-->
    <button md-button class="attraction-card__action attraction-card__action--red"><md-icon>favorite</md-icon></button>
    <button md-button class="attraction-card__action attraction-card__action--green"><md-icon>place</md-icon></button>
  </md-card-actions>
</md-card>

<md-card *ngIf="!attraction" class="attraction-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{attraction.name}}</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Select an attraction!
    </p>
  </md-card-content>
</md-card>
