<div *ngIf="attractions" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">

  <sebm-google-map
    *ngIf="attractions"
    fxFlex.gt-xs="50%"
    [fxFlex.gt-md]="regularMapDistribution"
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="7">

    <sebm-google-map-marker
      *ngFor="let attraction of attractions"
      [latitude]="attraction.latitude"
      [longitude]="attraction.longitude"
      (markerClick)="attractionClicked(attraction)">
    </sebm-google-map-marker>

  </sebm-google-map>

  <md-card
    class="attraction-detail"
    fxFlex.gt-xs="50%"
    [fxFlex.gt-md]="regularDetailDistribution">
    <span *ngIf="selectedAttraction">{{selectedAttraction.name}}</span>
  </md-card>

</div>

<!--TODO: click on attraction -> show closer on map-->
<div class="attraction-list" *ngIf="attractions">
  <md-chip-list class="attraction-list" *ngIf="attractions">
    <md-chip (click)="attractionClicked(attraction)" *ngFor="let attraction of attractions; trackBy: trackById">{{attraction.name}}</md-chip>
  </md-chip-list>
</div>

<!--TODO: attraction detail here-->

