<!--<div *ngIf="attractions" fxLayout="row" fxLayout.xs="column">-->

<!--<sebm-google-map-->
<!--class="map"-->
<!--fxFlex.gt-xs="50%"-->
<!--[fxFlex.gt-md]="regularMapDistribution"-->
<!--[latitude]="lat"-->
<!--[longitude]="lng">-->
<!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>-->
<!--</sebm-google-map>-->


<!--</div>-->

<sebm-google-map
  *ngIf="attractions"
  fxFlex.gt-xs="50%"
  [fxFlex.gt-md]="regularMapDistribution"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="7">

  <sebm-google-map-marker
    *ngFor="let attraction of attractions | async"
    [latitude]="attraction.latitude"
    [longitude]="attraction.longitude"
    (markerClick)="markerClicked(attraction)">
  </sebm-google-map-marker>

</sebm-google-map>

<attraction-list *ngIf="attractions" [attractions]="attractions"></attraction-list>


