<md-sidenav-container>
  <md-sidenav #sideNav mode="side">Drawer content</md-sidenav>
  <div class="my-content">

    <md-toolbar color="primary">

      <md-icon (click)="sideNav.toggle()" class="toolbar__menu-button">menu</md-icon>
      <span>Travel</span>

      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>

      <span>Countries</span>

    </md-toolbar>

  </div>
</md-sidenav-container>

<!--<h1>{{title}}</h1>-->
<!--<nav>-->
<!--<a routerLink="/test" routerLinkActive="active">Test</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
