<md-toolbar color="primary">

  <span class="title" routerLink="/countries">Travel</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <nav class="navigation">

    <!--TODO: Add a popup contact outlet-->

    <a class="navigation-item" md-button md-ripple
       routerLink="/countries"
       routerLinkActive="navigation-item--state-active">Countries</a>

    <a class="navigation-item" md-button md-ripple
       routerLink="/attractions"
       routerLinkActive="navigation-item--state-active">Attractions</a>

  </nav>

</md-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

