<md-card class="country-card">
  <md-card-header>
    <md-card-title>
      <span class="flag-icon flag-icon-{{country.iso}}"></span>
      {{country.name}}
    </md-card-title>
    <md-card-subtitle>{{country.capital}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/capitals/{{country.capital}}.jpg">
  <md-card-content>
    <p class="country-card__content">
      {{getShortDescription()}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>ATTRACTIONS</button>
  </md-card-actions>
</md-card>
