<md-card class="country-card">
  <md-card-header>
    <div md-card-avatar class="flag-icon-background flag-icon-{{country.iso}}"></div>
    <md-card-title>{{country.name}}</md-card-title>
    <md-card-subtitle>{{country.capital}}</md-card-subtitle>
  </md-card-header>
  <!--<img md-card-image src="assets/img/capitals/{{country.capital}}.jpg">-->
  <img md-card-image src="assets/img/capitals/amsterdam.jpg">
  <md-card-content>
    <p class="country-card-description">
      {{getShortDescription()}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>ATTRACTIONS</button>
  </md-card-actions>
</md-card>
